@page "/"

@using TradeMonitoringClient.Data;
@using Microsoft.Extensions.Logging;
@inject PositionTableService PositionTableService;
@inject ILogger<PositionTable> logger;

<h1>Position Monitoring</h1>

<p>Current price and quantity.</p>
<p>The data is updated every second.</p>
<p>Click on column to sort. (click twice for descending sort)</p>


@if (model.Data == null)
{
<p><em>Loading...</em></p> }
else
{
<div>

    <p>Last update: @model.TimestampString</p>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="SortById">Position Id</th>
                <th @onclick="SortByTicker">Ticker</th>
                <th>Spot Price</th>
                <th @onclick="SortByStartQuantity">Qty [T-1]</th>
                <th @onclick="SortByQuantity">Qty [T-0]</th>
                <th @onclick="SortByChange">Qty change</th>
                <th @onclick="SortByQuantityTraded">Qty traded</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in model.SortedPositions)
            {
            <tr>
                <td>@position.Id</td>
                <td>@position.Ticker</td>
                <td>@position.Price</td>
                <td>@position.DayStartQuantity</td>
                <td>@position.CurrentQuantity</td>
                <td style="color:@position.Color">@position.ChangeToday</td>
                <td>@position.QuantityTraded</td>
            </tr>}
        </tbody>
    </table>
</div>}

@code
{ private PositionTablePageModel model = new();

    protected override async Task OnInitializedAsync()
    {
        this.model.Logger = logger;
        this.model.OnRecalculated = ForceRender;
        //todo removing the event from handler with -= OnDataReceivedFromServer;
        this.PositionTableService.OnDataReceived += OnDataReceivedFromServer;

        //if loop is not running then start
        if (this.PositionTableService.IsRunning) return;
        this.PositionTableService.Logger = this.logger;
        await this.PositionTableService.ConnectToServer();
        this.PositionTableService.StartListeningToWebsocket();

    }

    private void ForceRender()
    {
        Task.Run(() => ForceRenderAsync());
    }

    private async Task ForceRenderAsync()
    {
        //workaround:
        //StateHasChanged has to be called with InvokeAsync
        //if not, it will block (only in callback
        await InvokeAsync(this.StateHasChanged);
        logger.LogInformation("updating view");
    }

    private void OnDataReceivedFromServer(PositionDataMessage newData)
    {
        this.model.OnDataReceived(newData);
    }

    private void SortById() => model.SortBy(PositionTablePageModel.PositionSortType.Id);
    private void SortByTicker() => model.SortBy(PositionTablePageModel.PositionSortType.Ticker);
    private void SortByQuantity() => model.SortBy(PositionTablePageModel.PositionSortType.Quantity);
    private void SortByQuantityTraded() => model.SortBy(PositionTablePageModel.PositionSortType.QuantityTraded);
    private void SortByStartQuantity() => model.SortBy(PositionTablePageModel.PositionSortType.StartQuantity);
    private void SortByChange() => model.SortBy(PositionTablePageModel.PositionSortType.Change);
}